---
name: dagd-test
on:
  push:
  pull_request:
  schedule:
    - cron: 0 12 * * *

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    continue-on-error: ${{ matrix.soft_fail }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - dockerfile: rhel8
            soft_fail: true
          - dockerfile: centos7
            soft_fail: false
    steps:
      - uses: actions/checkout@v2

      - name: Start docker-compose
        env:
          GOOGLE_INSIGHTS_API: ${{ secrets.GOOGLE_INSIGHTS_API }}
        run: |
          pushd container
          sed -i 's/build: ci-dockerfiles.*/build: ci-dockerfiles\/${{ matrix.dockerfile }}/' docker-compose.yml
          docker-compose up -d
          popd

      - name: Wait for database initialization
        run: |
          while [[ ! -f .ready-for-ci ]]; do
            echo 'waiting for docker-compose to spin up'
            sleep 1
          done

      - name: Run dagd-test
        env:
          DaGdConfigFile: ../container/config.container.php
        run: ./tests/dagd-test -u http://localhost:8080

      # We should extend dagd-test to cover CLI stuff, but for now we test
      # dagd-admin separately as part of CI.
      - name: Run dagd-admin tests
        env:
          DaGdConfigFile: ../container/config.container.php
          GOOGLE_INSIGHTS_API: ${{ secrets.GOOGLE_INSIGHTS_API }}
        run: |
          docker exec container_app_1 ./scripts/dagd-admin  -s g | grep State | grep enabled
          docker exec container_app_1 ./scripts/dagd-admin  -s g | grep Accesses: | grep 7d
          docker exec container_app_1 ./scripts/dagd-admin  -s g | grep "defaulting to \-\-status"
          docker exec container_app_1 ./scripts/dagd-admin  -s g -d | grep "Updated in"
          docker exec container_app_1 ./scripts/dagd-admin  -s g | grep State | grep disabled
          docker exec container_app_1 ./scripts/dagd-admin  -s g -e | grep "Updated in"
          docker exec container_app_1 ./scripts/dagd-admin  -s g | grep State | grep enabled
          docker exec container_app_1 ./scripts/dagd-admin  -s g -r https://wikipedia.org/ | grep "Updated in"
          docker exec container_app_1 ./scripts/dagd-admin  -s g -S | grep wikipedia
          docker exec container_app_1 ./scripts/dagd-admin  -s g -r https://google.com/ | grep "Updated in"
